.App {
  color: white;
}
  .App-header {
    background-color: #282c34;
  }

  .App-main {
    background-color: #234;
  }
    .posts {
      background-color: #234;

      display: grid;
      grid-template: auto / repeat(5, 1fr);
      gap: 10px;
    }
      .posts h1 {
        grid-area: 1 / 1 / 2 / span 5;
        background-color: #f3f;
      }
      .post {
        padding: 8px;
        border: 1px solid white;
        border-radius: 8px;
      }